page-home {

  
    --ion-background-color: #494ef1;
   
h3{
    text-align: center;
    padding: 20px;
}
img{
    width: 200px;
    align-self: center;
    margin: auto;
    display: block;
    padding: 10px;

}

}
